
 
<div  class="sidenav-container" >
  <mat-toolbar fxlayout="row" class="sidenav">
    <mat-toolbar-row flex="1 0 100%">
      <button mat-button [routerLink]="'/home'">
      <mat-icon class="icon1">home</mat-icon>Home
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row flex="1 0 100%">
        <button mat-button [routerLink]="'/new-bulk-campaign'">
          <img class = "icon" src = "https://png.pngtree.com/png-clipart/20190613/original/pngtree-graph-icon-png-image_3570071.jpg">bulk campaign
        </button>
    </mat-toolbar-row> 
    <mat-toolbar-row flex="1 0 100%">
      <button mat-button [routerLink]="'/bulk-report'">
         <img class = "icon" src = "https://cdn.vectorstock.com/i/1000x1000/77/25/file-icon-paper-symbol-vector-22537725.webp">Report
      </button>
  </mat-toolbar-row> 
</mat-toolbar>
</div>