mat-toolbar{
    background-color: black;
  }
  .icon {
    background-color: white;
    margin-right: -20px;
  }
  .reset-icon{
    width:25px;
  }
  
  .orange-logo {
    height: 40px;
    margin-left: 10px;
    margin-right: 20px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .logo{
    cursor:pointer
  }