 
 
  div{
    color: white;
  }

  p{
    margin: 0 0 0 0;
  }

  header{
    font-family: Roboto, Arial;
    margin: 0;
    background-color: black;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .left-section {
    display: flex;
    align-items: center;
  }

  .orange-logo {
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
  }

  .middle-section {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .title{
    font-size: 20px;
    font-weight: 600;
  }

  .logout{
    margin-right: 10px;
    background-color: black;
    color:white;
    cursor: pointer;
  }

  