
.sms-message-criteria{
    background-color: black;
    margin-left:-16px;
    margin-right:-16px;
    height:60px;
    flex: "row";
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .sms-message-criteria-font{
    color: white;
    }
  
  h4{
  margin:0;
  margin-bottom:5px;
  padding: 0;
  }